/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--bg-color);
  padding-inline-start: var(--left-right-page-padding);
  padding-inline-end: var(--left-right-page-padding);
  display: grid;
  gap: var(--body-child-gap);
}

.header {
  height: 100vh;
  min-height: 668px;
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
}

.decorated-dark-theme-element {
  display: var(--rec-on-off);
  position: absolute;
  color: var(--accent-color);
  top: 10px;
  right: 28px;
  line-height: 25px;
}
.decorated-dark-theme-element::after {
  position: absolute;
  content:" ";
  height: 9px;
  width: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  margin-block-start: 8px;
  margin-inline-start: 9px;
} 

.decorated-dark-theme-angle {
  position: absolute;
  content: " ";
  width: 25px;
  height: 25px;
}

.angle-top {
  border-right: 1px solid var(--angle-color);
  border-top: 1px solid var(--angle-color);
  right: 0;
  top: 10px;
}

.angle-bottom {
  border-left: 1px solid var(--angle-color);
  border-bottom: 1px solid var(--angle-color);
  left: 0;
  bottom: 10px;
}

.header__theme-menu-list {
  display: grid;
  gap: var(--header__theme-menu-list-gap);
  justify-self: end;
  padding-block-start: 3px;
}

.header__theme-menu-item {
  color: var(--button-color);
}

.header__theme-menu-button {
  background-color: inherit;
  border: none;
  height: 26px;
  width: 70px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-button-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button-color);
} 

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.header-main-title {
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: var(--h1-font-size);
  font-weight: var(--bold-weight);
  line-height: var(--main-title-line-height);
  position: relative;
  inset: 0;
}

.header-text {
  padding-block-end: 11px;
}

.title-decor {
  background-color: var(--accent-color);
  font-weight: var(--bold-weight);
  line-height: var(--text-line-height);
  font-size: var(--text-font-size); 
  color: var(--title-decor-text-color);
}

.main {
  display: grid;
  gap: var(--main-child-gap);
}

.question {
  display: grid;
  gap: var(--section-child-gap);
}

.text-block {
  display: grid;
  gap: var(--text-block-gap);
  grid-template-rows: min-content 1fr;
}

.section-title {
  color:var(--section-title-color);
  font-weight: var(--bold-weight);
  font-size: var(--text-font-size)
}

.text {
  color: var(--text-color);
}

.section-text-link {
  text-decoration: none;
  text-shadow: 1.5px 1.5px 0 var(--accent-color);
}

.section-text-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.section-text-link:focus {
  outline: none;
}

.section-text-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.problems {
  display: grid;
  gap: var(--section-child-gap);
}

.solutions {
  display: grid;
  gap: var(--section-child-gap);
}

.text-title {
  font-weight: var(--normal-weight);
}

.pictures {
  display: grid;
  gap: var(--images-gap);
}

.pictures-grid {
  display: grid;
  gap: var(--images-gap);
}

.pictures-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  height: 100vh;
  min-height: 668px;
  position: relative;
  display: grid; 
  align-items: center;
}

.footer-title {
  text-shadow: 2px 2px 0 var(--accent-color);
  justify-self: center;
}

/* Медиа запрос для расширения >= 768px */

@media (min-width: 768px) {
  .page {
    --h1-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --body-child-gap: 60px;
    --main-child-gap: 80px;
    --section-child-gap: 20px;
    --images-gap: 20px;
    --left-right-page-padding: 20px;
    min-height: 1024px;
  }

  .header__theme-menu-list {
    padding-block-start: 13px;
  }

  .decorated-dark-theme-element {
    top: 20px;
  }

  .angle-top {
    top: 20px;
  }

  .angle-bottom {
    bottom: 20px;
  }

  .header-main-title {
    left: -20px;
  }

  .header-text {
    padding-block-end: 19px;
  }

  .header-text-middle {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .header-text-middle p {
    grid-column: 2;
  }

  .question {
    grid-template-columns: 1fr 2fr;
  }

  .text-block-question {
    grid-column: 2;
  }

  .problems {
    grid-template-columns: min-content 1fr;
  }

  .text-block-problems {
    grid-column: 1/3;
  }

  .solutions {
    grid-template-columns: 1fr 2fr;
  }

  .section-title-solutions {
    grid-row: 1/7;
  }

  .text-block-solutions {
    grid-column: 2;
  }

  /*сетка для картинок*/

  .pictures-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .image-sunset {
    grid-row: 1;
    grid-column: 1/3;
  }

  .image-ice-cream {
    grid-row: 1/3;
    grid-column: 3;
  }

  .image-tape {
    grid-row: 2/4;
    grid-column: 1;
  }

  .image-books {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .image-street {
    grid-row: 3;
    grid-column: 2/4;
  }

  .footer-title {
    left: 0;
  }

}

/* Медиа запрос для расширения >= 1024px */

@media (min-width: 1024px) {
  
  .header__theme-menu {
    align-self: start;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, min-content);
    justify-self: center;
    padding-block-start: 17px;
  }

  .problems {
    grid-template-columns: repeat(3, 1fr);
  }

  .text-block-problems-multi {
    grid-column: 1;
  }

  .text-block-problems-food {
    grid-column: 2;
  }

  .text-block-problems-gadget {
    grid-column: 3;
  }
}