/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  /* Переменные для св-в шрифтов */
  --font-family-text: "IBM Plex mono", sans-serif;
  --main-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --text-font-size: 18px;
  --bold-weight: 700;
  --normal-weight: 400;
  --text-line-height: 130%;
  --main-title-line-height: 83%;

  /* Переменные цветов, фонового изображения и rec */
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: rgb(0 0 40);
  --header-title-color: rgb(219 0 255);
  --accent-color: rgb(255 0 112);
  --text-color: rgb(241 178 206);
  --hover-button-color: rgb(102 0 69);
  --rec-on-off: block;

  /* Переменные принимающие значения других */
  --angle-color: var(--accent-color);
  --title-decor-text-color: var(--bg-color);
  --button-color: var(--accent-color);
  --section-title-color: var(--accent-color);

  /* Переменные для отступов в grid */
  --body-child-gap: 40px;
  --header-theme-menu-list-gap: 10px;
  --main-child-gap: 50px;
  --section-child-gap: 20px;
  --text-block-gap: 10px;
  --images-gap: 10px;

  /* Паддинг для всей стрвницы */
  --left-right-page-padding: 10px;
}

/*Переопределение переменный для ширины >= 768 */

@media (min-width: 768px) {
  .page {
    --main-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --body-child-gap: 60px;
    --main-child-gap: 80px;
    --section-child-gap: 20px;
    --images-gap: 20px;
    --left-right-page-padding: 20px;
  }
}
